.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px; /* Примерна ширина на контейнера */
    margin: 0 auto; /* Центриране на контейнера */
  }
  
  .product-container > * {
    width: calc(20% - 10px); /* Ширина на елементите, изчислена, така че да има 5 елемента в един ред с разстояние между тях */
    margin-bottom: 10px; /* Разстояние между редовете */
  }

  .page-title {
    text-align: center; /* Центрирайте заглавието на страницата */
    margin-top: 20px; /* Добавете малко горно разстояние */
    margin-bottom: 20px; /* Добавете малко долно разстояние */
  }